// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// d3
.node {
  cursor: pointer;
  border: 1em solid black;
  fill: white;
}

.node text {
  font: 1em sans-serif ;
  fill: black;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
